<div class="container-fluid navbar-root">
  <div class="row">
    <div class="col-10">
      <ul ngbNav [activeId]="route.url" class="nav-tabs">
        <li
          class="navbar-list--options"
          [ngbNavItem]="menuItem.url"
          *ngFor="let menuItem of menuItems"
        >
          <a ngbNavLink [routerLink]="menuItem.url">{{
            menuItem.title | translate
          }}</a>
        </li>
        <li class="navbar-list--options--user" [ngbNavItem]="user.url">
          <a ngbNavLink [routerLink]="user.url">
            <fa-icon class="icon-user" [icon]="iconUser"></fa-icon
          ></a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <app-location-select></app-location-select>
    </div>
  </div>
</div>
