<div class="container">
  <br />
  <div class="row justify-content-md-center">
    <div *ngIf="showLogin" class="col-md-8">
      <app-login></app-login>
      <a *ngIf="showLogin" href="" (click)="handleClickRegistry($event)">{{ "USER.REGIST" | translate }}</a>
    </div>
    <div  *ngIf="showRegistry" class="col-md-8 col-lg-6">
      <app-registry></app-registry>
      <a *ngIf="showRegistry" href="" (click)="handleClickLogin($event)">{{ "USER.LOG_IN" | translate }}</a>
    </div>
  </div>
</div>
